/* @media only screen and (orientation:landscape){
  body {
    height: 100vw;
    transform: rotate(-90deg);
  }
} */


body {
  margin: 0;
}

#amountOwed, #instructions, #cameraSection, #photos, #last, #thankYou, #input {
  display: none;
}

#player {
  width: 100%;
  background-color: white;

}

.labels, .list {
  width: 120px;
}

.question {
  text-align: center;
}

.overall {
  width: 250px;
  margin: auto;
}

.nextbtn {
  font-size: 26px;
  background-color: #53BA36;
  padding: 10px 30px;
  border-radius: 10px;
}

.backbtn {
  font-size: 35px;
  color: blue;
  margin-top: 20px;
}

.submitbtn {
  font-size: 26px;
  background-color: #53BA36;
  padding: 10px 30px;
  border-radius: 10px;
}

.btnControl {
  text-align: center;
  margin: auto;
  padding-top: 60px;
}

.cap {
  text-align: center;
  margin: 30px 0 10px 0;
}

.capbtn {
  background-color: red;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.owed {
  padding-left: 15px;
  padding-bottom: 30px;
}

#canvas {
  display: none;
}

.myFakeButton {
    background-color: blue;
    padding: 1px;
    font-size: 40px;
}

.camlabel {
    text-align: center;
}

.input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 38px;
}

.sect {
  display: flex;
  justify-content: center;
  width: 285px;
}

.inputField {
  width: 250px;
}

.stateInput {
  height: 38px;
  border: 1px solid black;
  width: 100%;
}

#cameraSection {
  height: 100vh;
}

#cameraSection .nextbtn {
  width: 50;

}

#cameraSection .btnControl {
  margin-top: 10px
}

.videoContainer {
  width: 90%;
  margin: auto;
  background-color: black;

}

.videoContainer2 {
  width: 90%;
  margin: auto;
  background-color: white;
  height: 1175px;
  display: none;
}

.camera {
  background-color: black;
  padding-bottom: 10px;
}

.camBtnCtrl {
  display: flex;
  justify-content: space-around;
  margin-top: 180px;
}
.nextBack {
  color: blue;
  font-size: 45px;

}

.pictureContainer {
    text-align: center;
}

.picDiv {
    display: inline-block;
    position: relative;
}

.takenPic {
    height: 300px;
    width: 300px;
    margin: 10px
}

.deleteIconImg {
    height: 40px;
    width: 40px;
    position: absolute;
    top:30px;
    right:30px;
}

.fakeButtonContainer {
    justify-content: center;
}



@media (min-width: 500px) {
  .overall {
    width: 50%;
  }

  .inputField {
    width: 100%;
  }

  .input {
    height: 90px;
    font-size: 60px;
  }

  .stateInput {
    height: 90px;
    font-size: 34px;
    padding-left: 4px
  }

  .labels, .list {
    font-size: 40px;
    margin-bottom: 10px;
    width: 100%;
  }

  .question {
    font-size: 60px;
  }

  .nextbtn {
    font-size: 50px;
    width: 100%;
    height: 100px;
  }

  .btnControl {
    margin-top: 60px;
  }

  .submitbtn {
    font-size: 50px;
    width: 100%;
    height: 100px;
  }
}
